{% extends 'global/base.html' %}

{% block title %}Home | Recipes{% endblock title %}


{% block content %}


<div class="main-content main-content-list container" id="testing" data-name="Mateus" data-age="15">

    {% for recipe in recipes %}
    {% include 'recipes/partials/recipe.html' %}
    {% empty %}
    <div id="no-recipes">Ops, parece que ninguém postou receitas ainda, tenha a honra de ser o primeiro!</div>
    {% endfor %}

</div>


<a example href="/">um link</a>


<script>
    let item = document.querySelector('[example]')
    item.onmousemove = (event) => {
        let item = event.target
        item.style.cursor = 'move'
        item.style.position = 'absolute'
        item.style.top = `${0}px`
        item.style.left = `${0}px`
        if (event.buttons) {
            item.style.backgroundColor = 'green'
            item.style.top = `${event.clientY - (item.clientHeight / 2)}px`
            item.style.left = `${event.clientX - (item.clientWidth / 2)}px`
        }
    }
</script>

{% endblock content %}