{% include 'recipes/partials/head.html' %}

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fas fa-address-book"></i>
                    <span>Recipes</span>
                </a>
            </h1>
        </div>
    </header>
    <h1>Este é meu arquivo home original</h1>
    <p>o nome é {{ nome }}</p>
    <p>a soma dos números é {{ soma }}</p>
</body>
</html>